.App{
    width: 900px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
nav{
    color: white;
    background-color: rgb(255, 78, 78);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

main {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.content{
    padding: 1rem 1rem 1rem 0;
}
.location {
    color: rgb(254, 64, 64);
    padding: 0 1rem 1rem 0;
}
.location span{
    color :#444;
    padding-left: .2rem;
}
a{
    color: rgb(132, 132, 132);
}
h1{
    margin-bottom: 1.5rem;
}
.time{
    margin-bottom: 1rem;
    font-weight: 500;
}
.descreption{
    font-weight: 300;
    line-height: 1.5rem;
}